<h1 class="articles">Chuck Norris facts</h1>
<h2 class="articles">by GoT characters</h2>
<% @articles.each do |article| %>
  <div class="fact">
    <h2 class="title"> <%= link_to article.title, article_path(article) %></h2>
  </div>
<% end %>
<p><%= link_to "Add new Article", new_article_path  %></p>
